@import url("https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;500;600&display=swap");
.flex-center,
.container .right-screen-bottom .info-container,
.container .left-screen-bottom .main-screen-top-leds,
.container .left-screen-bottom,
.container .left-screen-top .led-container,
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #2ca1ca;
  background-image: "";
}

.container {
  min-width: 750px;
  min-height: 500px;
  margin-left: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container .left-screen {
  position: relative;
  background-color: #cd1030;
  border: 2px solid #73121e;
  border-radius: 20px;
}

.container .left-screen::before {
  content: "";
  position: absolute;
}

.container .left-screen::before {
  width: 100%;
  height: 101%;
  top: -2px;
  left: -3%;
  z-index: -1;
  background-color: #73121e;
  border: 2px solid #73121e;
  border-radius: 20px;
}

.container .left-screen-top {
  width: 100%;
  height: 18%;
  position: relative;
  display: flex;
}

.container .left-screen-top::before {
  content: "";
  position: absolute;
}

.container .left-screen-top::after {
  content: "";
  position: absolute;
}

.container .left-screen-top::before,
.container .left-screen-top::after {
  height: calc(100% - 5px);
  border-radius: 50% 0 50% 0;
}

.container .left-screen-top::before {
  width: 55%;
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.container .left-screen-top::after {
  top: 20%;
  right: 0;
  width: 46%;
  border-top: 5px solid rgba(0, 0, 0, 0.5);
}
.container .left-screen-top .led {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #000;
  border-radius: 100%;
}
.container .left-screen-top .led::before {
  content: "";
  position: absolute;
}
.container .left-screen-top .led::after {
  content: "";
  position: absolute;
}
.container .left-screen-top .led--red {
  background-color: #ee0707;
}
.container .left-screen-top .led--red::after {
  background-color: #ee0707;
}
.container .left-screen-top .led--yellow {
  background-color: #dde214;
}
.container .left-screen-top .led--yellow::after {
  background-color: #dde214;
}
.container .left-screen-top .led--green {
  background-color: #91f913;
}
.container .left-screen-top .led--green::after {
  background-color: #91f913;
}
.container .left-screen-top .led--blue {
  background-color: #0ad1ff;
}
.container .left-screen-top .led--blue::after {
  background-color: #0ad1ff;
}
.container .left-screen-top .led::before {
  width: 90%;
  height: 90%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.container .left-screen-top .led::after {
  width: 60%;
  height: 60%;
  left: 10%;
  top: 10%;
  border-radius: 100%;
}
.container .left-screen-top .led-container {
  position: relative;
  width: 3.8rem;
  height: 3.8rem;
  margin: 0.8rem 1rem 0 1rem;
  background-color: #dedede;
  border: 1px solid #000;
  border-radius: 100%;
}
.container .left-screen-top .led-container .led {
  width: 2.8rem;
  height: 2.8rem;
  margin: 0;
}
.container .left-screen-bottom {
  position: relative;
  height: 78%;
}
.container .left-screen-bottom::after {
  content: "";
  position: absolute;
}
.container .left-screen-bottom::after {
  width: 90%;
  height: 100%;
  border-left: 2px solid #73121e;
  border-bottom: 2px solid #73121e;
  border-bottom-left-radius: 20px;
}
.container .left-screen-bottom .main-screen {
  position: relative;
  width: 75%;
  height: 90%;
  background-color: #dedede;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0 1rem;
  margin-right: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.75fr 0.15fr;
  align-items: center;
  justify-content: center;
}

.container .left-screen-bottom .main-display {
  grid-column: 1 / span 2;
  width: 100%;
  height: 100%;
  background-color: #032d28;
  border: 1px solid #000;
  /*border-radius: 10px;*/
}

.container .right-screen-bottom .info-container #not-found {
  font-size: 120%;
  text-align: center;
  color: #fff;
  background-color: #032d28;
  border-radius: 0px;
  display: none;
  grid-area: 5/1 / span 1 / span 2;
}
.container .left-screen-bottom .main-display .pokemon-image {
  width: 100%;
  height: 100%;
}

.container .left-screen-bottom .main-screen-speaker-led {
  grid-column: 1 / span 1;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #cd1030;
  margin-left: 0.5rem;
  border: 1px solid #000;
  border-radius: 100%;
}

.container .left-screen-bottom .main-screen-speaker {
  margin-left: auto;
  margin-right: 0.5rem;
}

.container .left-screen-bottom .main-screen-speaker > * {
  width: 3.8rem;
  height: 0.3rem;
  margin-top: 3px;
  border-radius: 10px;
  background-color: #4d4d4d;
}

.container .left-screen-hinge {
  position: absolute;
  width: 10%;
  height: 98%;
  bottom: -2px;
  right: -5px;
  background-color: #cd1030;
  z-index: 2;
  border-left: 2px solid #73121e;
  border-right: 2px solid #73121e;
  border-radius: 15px;
}

/* Acabamento da dobradiça */
.container .left-screen-hinge::before {
  content: "";
  position: absolute;
}

.container .left-screen-hinge::after {
  content: "";
  position: absolute;
}

.container .left-screen-hinge::before {
  width: 100%;
  height: 20px;
  border-radius: 50%;
  border-top: 2px solid #73121e;
}

.container .left-screen-hinge::after {
  width: 100%;
  height: 18px;
  bottom: -2px;
  right: -2px;
  background-color: #891524;
  border: 2px solid #73121e;
  border-radius: 50%;
}

/* Efeito para simular um reflexo na dobradiça */
.container .left-screen-hinge .hinge-reflex {
  position: absolute;
  width: 15%;
  top: 0.89%;
  height: 98%;
  left: 10%;
  background-color: rgba(255, 255, 255, 0.2);
}

.container .right-screen {
  position: relative;
  margin: 1.5rem 3rem 1.2rem 0;
  border-bottom-right-radius: 20px;
}

.container .right-screen-top::before {
  content: "";
  position: absolute;
}

.container .right-screen-top::after {
  content: "";
  position: absolute;
}

.container .right-screen-top::before,
.container .right-screen-top::after,
.container .right-screen-top div {
  width: 50%;
  background-color: #cd1030;
}

.container .right-screen-top::before {
  height: 18%;
  border-top: 3px solid #73121e;
  border-top-right-radius: 50%;
}
.container .right-screen-top::after {
  height: 15%;
  right: 0;
  border-bottom: 3px solid #73121e;
  border-bottom-left-radius: 50%;
  background-color: #2ca1ca;
}
.container .right-screen-top div {
  position: absolute;
  height: 50%;
  right: 0;
}
.container .right-screen-bottom {
  position: relative;
  width: 100%;
  height: 84%;
  margin-top: 22%;
  padding: 1.5rem 2rem 1.5rem 2rem;
  background-color: #cd1030;
  border: 2px solid #73121e;
  border-radius: 0;
  border-top: none;
  border-bottom-right-radius: 20px;
}
.container .right-screen-bottom::before {
  content: "";
  position: absolute;
}
.container .right-screen-bottom::after {
  content: "";
  position: absolute;
}
.container .right-screen-bottom::before {
  width: 35%;
  height: 10%;
  top: -2%;
  border-top: 5px solid #73121e;
  border-left: 2px solid #73121e;
  border-top-right-radius: 50%;
}
.container .right-screen-bottom::after {
  width: 45%;
  height: 10%;
  top: -4%;
  right: 0;
  margin-right: 2rem;
  border-bottom: 5px solid #73121e;
  border-bottom-left-radius: 50%;
}
.container .right-screen-bottom .info-container {
  flex-direction: column;
  padding: 1rem;
  border: 2px solid #73121e;
  border-radius: 0;
  border-right: 5px solid #73121e;
  border-top: none;
  border-bottom-right-radius: 20px;
}
.container .right-screen-bottom .info-container .info-input,
.container .right-screen-bottom .info-container .info-screen,
.container .right-screen-bottom .info-container .info-button {
  color: #fff;
  background-color: #032d28;
  border-radius: 5px;
}
.container .right-screen-bottom .info-container .info-button {
  width: 27%;
  height: 1.5rem;
}
.container .right-screen-bottom .info-container .info-input {
  width: 70%;
  height: 1.5rem;
  border: none;
  outline: none;
  text-align: center;
}
.container .right-screen-bottom .info-container .info-screen {
  width: 220px;
  height: 260px;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: small;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 1fr;
  grid-row-gap: 0.5rem;
  overflow: auto;
}
.container
  .right-screen-bottom
  .info-container
  .info-screen::-webkit-scrollbar {
  width: 0.5em;
}
.container
  .right-screen-bottom
  .info-container
  .info-screen::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
.container .right-screen-bottom .info-container .info-screen .label {
  font-family: "Flexo-Medium", arial, sans-serif;
  text-transform: uppercase;
}
.container .right-screen-bottom .info-container .info-screen .desc {
  font-family: "Flexo-Medium", arial, sans-serif;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 110%;
}
.container .right-screen-bottom .info-container .info-screen #info-text {
  text-transform: capitalize;
}
.container .right-screen-bottom .info-container .info-screen #evolution {
  /*grid-area: 3/1 / span 1 / span 2;*/
  margin-top: 2rem;
}
.container .right-screen-bottom .info-container .info-screen #bio {
  /*grid-area: 4/1 / span 1 / span 2;*/
  margin-top: 2rem;
}
.container .right-screen-bottom .info-container .info-screen #tamanho,
.container .right-screen-bottom .info-container .info-screen #peso {
  margin-top: 1rem;
}
